@import 'tailwindcss/base';
@tailwind base;
@tailwind components;
@tailwind utilities;
@import "~react-image-gallery/styles/css/image-gallery.css";

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 200, 210, 220;
  --background-end-rgb: 255, 255, 255;
  --primary: 0, 0, 255;
  --fade-start: 0, 248, 233;
  --fade-end: 72, 34, 245;
  --primary: 53, 172, 252;
  --primary-dark: #08209A;
  --primary-dark-rgb: 8, 32, 154;
  --primary-med: #1085C8;
  --primary-med-rgb: 16, 133, 200;
  --primary-light: #00F8E9;
  --primary-light-rgb: 0, 248, 233;

  --text-dark: 50, 50, 60;
  --text-light: 240, 240, 250;

  --primary-1: #00F8E9;
  --primary-2: #06D4DF;
  --primary-3: #0BACD3;
  --primary-4: #1085C8;
  --primary-5: #165DBC;
  --primary-6: #08209A;

  --primary-rgb-1: 0, 248, 233;
  --primary-rgb-2: 6, 212, 223;
  --primary-rgb-3: 11, 172, 211;
  --primary-rgb-4: 16, 133, 200;
  --primary-rgb-5: 22, 93, 188;
  --primary-rgb-6: 8, 32, 154;
}


body, html {
  scroll-behavior: smooth;
  scroll-padding-top: 8rem;
  overflow:scroll;
}

@media screen and (max-width: 600px) {
  body, html{
    scroll-padding-top: 4rem;
  }
}
body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      20deg,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

nav {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-end-rgb));
}

.text-primary {
  color: rgb(var(--primary));
}
.text-primary-dark {
  color: rgb(var(--primary-3));
}

.bg-primary{
  background: rgb(var(--primary));
}

.text-dark{
  color: rgb(var(--text-dark));
}

.text-light{
  color: rgb(var(--text-light));
}


.bg-fade {
  background: linear-gradient(
      to right,
      rgb(var(--fade-end)),
      rgb(var(--fade-start))
    )
    rgb(var(--fade-end));
}
.bg-fade:hover{
  filter: hue-rotate(30deg)
}

.bg-fade-to-transparent {
  background: linear-gradient(
      to left,
      transparent,
      rgb(var(--fade-end)),
      rgb(var(--fade-start))
    );
}
.bg-center-fade-to-transparent {
  background: linear-gradient(
      to left,
      transparent,
      /* rgb(var(--fade-start)), */
      rgb(var(--fade-start), .5),
      rgb(var(--fade-end)),
      transparent
    );
}

.bg-fade-outline {
  border-style: solid;
  border-width: 2px;
  border-color: rgb(var(--primary-rgb-6));
  color: rgb(var(--primary-rgb-6));
  /* border-image: linear-gradient(
    to left,
    rgb(var(--fade-end)),
    rgb(var(--fade-start))
    ) 1; */
}

.p-_1 {
  padding: 1px !important;
}
.p-_2 {
  padding: 2px;
}
.p-_3 {
  padding: 3px;
}
.p-_4 {
  padding: 4px;
}

.banner-logo {
  max-height: 25rem;
}

.text-gradient {
  background-image: linear-gradient(to right, var(--primary-6), var(--primary-2));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.image-gallery {
  height: 30rem;
  max-width: max(80vw, 400px);
  margin-bottom: 3rem;
  border-radius: 1rem;
}

.image-gallery-image {
  border-radius: 1rem;
  width: 100%;
  height: auto;
  min-width: 100%;
  min-height: 30rem !important;
  max-height: 30rem !important;
  overflow: hidden;
  transition: 1000ms !important;
}
.image-gallery-slide {
  transition: 1000ms !important;
  opacity: .5 !important;
}
.image-gallery-center {
  opacity: 1 !important;
}



.image-gallery-bullets-container {
  position: absolute;
  bottom: -3rem !important;
  width: 100%;
  gap: .2rem;
  display: flex;
  justify-content: center;
}

.image-gallery-bullet {
  display: block;
  position: relative;
  background: var(--primary-6) !important;
  box-shadow: none !important;
  border: 0px !important;
  /* width: 4rem; */
  height: 1rem !important;
  width: 1rem !important;
  overflow: hidden;
  border-radius: .5rem !important;
}
.image-gallery-bullet.active{
  background: var(--primary-1) !important;
}




@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 50;

    --text-dark: 230, 230, 230;
    --text-light: 160, 160, 160;

    --primary-dark: ;
    --primary-dark-rgb: 8, 32, 154;
    --primary-med: #1085C8;
    --primary-med-rgb: 16, 133, 200;
    --primary-light: #00F8E9;
    --primary-light-rgb: 0, 248, 233;

    --primary-6: #00F8E9;
    --primary-5: #06D4DF;
    --primary-4: #0BACD3;
    --primary-3: #1085C8;
    --primary-2: #165DBC;
    --primary-1: #08209A;

    --primary-rgb-6: 0, 248, 233;
    --primary-rgb-5: 6, 212, 223;
    --primary-rgb-4: 11, 172, 211;
    --primary-rgb-3: 16, 133, 200;
    --primary-rgb-2: 22, 93, 188;
    --primary-rgb-1: 8, 32, 154;
  }

}


/* nav{
  border-bottom: 4px;
  border-style: solid;
  border-color: #FFF0C8;
} */



.hoverline:hover {
  text-decoration: underline;
}

.skel {
  /* background-image: linear-gradient(35deg, #222,  #555, #333); */
  background-image: radial-gradient(#aaaaff6f, #aaaaff00 70%, #aaaaff00);
}


* {
  /* border: 1px solid grey; */
}